body {
    margin: 0;
    background-color:bisque;
}

.container {
    margin: 1rem 2rem;
}

.card-grid {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}

.question {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px rgba(116, 255, 88, 0.3);
    background-color: bisque;
    transform-style: preserve-3d;
    cursor: pointer;
    transition: 150ms;
    transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
}

.question:hover {
    --translate-y: -2px;
    box-shadow: 0 0 5px 2px rgba(116, 255, 88, 0.7);
}

.question.flip {
    --rotate-y: 180deg;
}

.question .front {
    left: 0;
}

.question .front,
.question .back {
    position: absolute;
    padding: 1rem;
    backface-visibility: hidden;
}

.question .back {
    transform: rotateY(180deg);
}

.options {
    margin-top: .5rem;
}

.option {
    margin-top: .25rem;
    color: #555;
    font-size: 0.75rem;
}

.option:first-child {
    margin-top: 0;
}